.banner {
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.banner__buttons {
  padding-top: 20px;
  display: flex;
}
.banner__buttonIcon {
  padding-right: 10px;
  margin-left: -10px;
}
.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
}

.banner__buttonPlay {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: black;
  outline: none;
  border: none;
  font-weight: 800;
  border-radius: 0.4vw;
  padding-left: 2rem;
  padding-right: 2rem;
  /* padding-right: 10px; */
  margin-right: 1rem;
  padding-top: 0.5rem;
  /* background-color: rgba(51, 51, 51, 0.5); */
  background-color: white;
  padding-bottom: 0.4rem;
}
.banner__buttonMoreInfo {
  /* margin-left: 30px; */
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 800;
  border-radius: 0.4vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}
.banner__buttonPlay:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2ss;
}
.banner__buttonMoreInfo:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2ss;
}

.banner__fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
