.banner {
  color: black;
  object-fit: contain;
  /* height: 448px; */
}

.banner__image {
  object-fit: contain;
  max-width: 100%;
  max-height: 75%;
}
.banner__contents {
  margin-left: 30px;
  /* padding-top: -1000px; */
  /* height: 190px; */
  height: -500px;
}
