.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;

  /* transitions */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__black {
  background-color: #111;
}
.nav__logo {
  position: fixed;
  left: 75px;
  width: 130px;
  /* height: 60px; */
  object-fit: contain;
  /* border: 1px solid white; */
}
.nav__avatar {
  position: fixed;
  right: 80px;
  width: 40px;
  object-fit: contain;
  /* margin-top: 20px; */
  border-radius: 8px;
}
