.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;

  /* transitions */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__black {
  background-color: #111;
}
.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}
.nav__icons {
  justify-content: center;
  right: 20px;
}
.nav__gifcard {
  /* background-color: black; */
  /* width: 90px; */
  /* object-fit: contain; */
  /* color: white; */
  /* padding-top: 20px; */
  /* justify-content: center; */
}
.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
