.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  height: 23px;
  display: flex;
  justify-content: space-between;

  /* transitions */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__black {
  background-color: #111;
}
.nav__logo {
  /* position: fixed; */
  left: 75px;
  width: 140px;
  /* height: 60px; */
  object-fit: contain;
  /* border: 1px solid white; */
  cursor: pointer;
}
.nav__buttons {
  /* border: 1px solid yellow; */
  display: flex;
  position: absolute;
  left: 180px;
  /* justify-content: space-between; */
  /* background-color: black; */
}
.nav__button {
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  cursor: pointer;
}
.nav__button:hover {
  color: #ddd9e0;
  /* background-color: #3a393a; */
  transition: all 0.2s;
}

.nav__icons {
  right: 40px;
  position: fixed;
  justify-content: space-between;
}

.nav__avatar {
  /* position: fixed; */
  /* right: 80px; */
  width: 35px;
  object-fit: contain;
  /* margin-top: 20px; */
  border-radius: 8px;
}
.nav__icon {
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  /* width: 200px;
  height: 200px; */
  font-size: xx-large;
}
