.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 20px;
  /* padding-right: 30px; */
  height: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  /* height: 50px; */
  object-fit: contain;
  /* border: 1px solid white; */
  /* background-color: #111; */
}
.nav__icons {
  justify-content: center;
  right: 20px;
}
.nav__gifcard {
  /* background-color: black; */
  /* width: 90px; */
  /* object-fit: contain; */
  /* color: white; */
  /* padding-top: 20px; */
  /* justify-content: center; */
}
.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
