.row {
  margin-left: 20px;
  color: white;
}
.row__title {
  padding-left: 30px;
  font-size: 1.3vw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 30px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 150px;
  transition: transform 450ms;
  margin-right: 10px; /*transition delay*/
}

.row__poster:hover {
  transform: scale(1.2);
}

.row__posterLarge {
  max-height: 300px;
}

.row__posterLarge:hover {
  transform: scale(1.1);
}
