.row {
  margin-left: 20px;
  color: white;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__poster::-webkit-scrollbar {
  display: none;
}
.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px; /*transition delay*/
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 300px;
}

.row__posterLarge:hover {
  transform: scale(1.1);
}
